body
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(body.jpg);
    background-size: cover;
    background-position: cenetr;
}
.selection-form
{
    width: 151px;
    display: inline-block;
    font-size: 18px !important;
    border-radius: 0%!important;
    color: #fff!important;
    background: transparent!important;
    box-shadow: none!important;
}

input::placeholder
{
    color: #fff !important;
}

.input-grp
{
    color:#fff!important;
    width: 151px;
    display: inline-block;
}
form-control
{
    font-size: 12px !important;
    border-radius: 0%!important;
    color: #fff!important;
    background: transparent!important;
    box-shadow: none!important;
}
.select-date::-webkit-inner-spin-button,
.select-date::-webkit-outer-spin-button
{
-webkit-appearance: none;
margin: 0;

}
.select-date::-webkit-colender-picker-indicater
{

    background: transparent!important;
    background: transparent!important;
}

.selectcity{
    font-size: 20px !important;
    border-radius: 20%!important;
    color: #fff!important;
    background: transparent!important;
    box-shadow: none!important;
}
}